@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: white;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navigation-menu {
  position: relative;
  height: 8vh;
  width: 100%;
  top: 0%;
  background-color: #000000;
  z-index: 1;
}

.logo {
  position: absolute;
  left: 2.5%;
  width: 5%;
  cursor: pointer;
  transform: translateY(40%);
}

#logo-image {
  width: 10vw;
}

.nav-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
  text-align: center;
}

.nav-item {

  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1vw;
}

a {
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

a:hover {
  color: #000000;
  background-color: #ffffff;
  transition: all 0.4s ease;
}

.search{
  position: absolute;
  right: 5vw;
  height: 4vh;
  width: 15vw;
  top: 2vh;
  border-radius: 5px;
  border: 1px solid #666;
}

.search-input {
  position: absolute;
  width: 80%;
  height: 4vh;
  padding: 0;
  margin: 0;
  left: 3%;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  
}

.search-button {
  border-radius: 5px;
  position: absolute;
  width: 10%;
  height: 80%;
  top: 5%;
  right: 3%;
  cursor: pointer;
}

.first-page {
  background-image: url(images/main-page.avif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
}

.second-page-container{
  background-image: url(images/texture-background.png);
  background-size: cover;
  background-position: center;
}

.second-page {
  padding-top: 8vh;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #000000;
  width: 78vw;
  position: relative;
  margin-bottom: 10vh;
  
}

.section-heading {
  margin-bottom: 5vh;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.products-grid .product-placeholder {
  background-color: #ddd;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}

.third-page-container{
  background-image: url(images/third-page-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 90vh;
  margin-bottom: 10vh;
}

.third-heading {
  margin-bottom: 5vh;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  font-weight: 700;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.third-page {
  background-image: url(images/water-ad.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  background-position: center;
  width: 78vw;
  height: 70vh;
  left: 10vw;
  margin-bottom: 5vh;
  border-radius: 10px;
  box-shadow: 2px 3px 2px 2px rgba(0.3, 0, 0, 0.3);
}

.third-page-heading{
  font-size: 1.5rem;
  color: white;
  position: relative;
  left: 15vw;
  top: 20vh;
  width: 50%;
}

.third-page-subheading{
  font-size: 4.5rem;
  color: white;
  position: relative;
  left: 15vw;
  top: 20vh;
  font-weight: 700;
  width: 60%;
}

.third-page-paragraph{
  font-size: 1.5rem;
  color: white;
  position: relative;
  left: 15vw;
  top: 23vh;
  width: 50%;
}

.water-button-container{
  position: relative;
  width: 50%;
  top: 30vh;
  left: 15vw;
}

.water-button{
  position: relative;
  width: 15vw;
  height: 7vh;
  background-color: #26a5ee;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.water-button:hover{
  background-color: #3498db;
}

.water-button-text{
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-page-container{
  position: relative;
  background-image: url(images/trending-page-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 130vh;
}

.block-container{
  position: relative;
  width: 80vw;
  left: 10vw;
  height: 120vh;
  text-align: center;
}

.block-item{
  position: relative;
  display: inline-block;
  width: 21vw;
  height: 55vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vh;
  text-align: center;
}

.block-image{
  position: relative;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
}

.block-item:nth-child(1) .block-image {
  background-image: url(images/1.webp);
}

.block-item:nth-child(2) .block-image {
  background-image: url(images/2.webp);
}

.block-item:nth-child(3) .block-image {
  background-image: url(images/3.webp);
}

.block-item:nth-child(4) .block-image {
  background-image: url(images/4.webp);
}

.block-item:nth-child(5) .block-image {
  background-image: url(images/5.webp);
}

.block-item:nth-child(6) .block-image {
  background-image: url(images/6.webp);
}

.block-button{
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #e74c3c;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 2vh;
}

.block-button:hover{
  background-color: #c0392b;
}

.button-text{
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-name{
  position: absolute;
  width: 100%;
  height: 10%;
  font-size: 1.25rem;
}



.about-us-pic {
  background-image: url(images/best-seller.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  height: 90vh;
  margin-bottom: 5vh;
}

.buy-now-button{
  position: absolute;
  width: 20vw;
  height: 8vh;
  background-color: #11532d;
  right: 6vw;
  border-radius: 10px;
  top: 27vh;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.buy-now-button:hover{
  background-color: #3b7b56;
}

.buy-now-button-text{
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  text-align: left;
  position: relative;
  bottom: 0;
}

.footer-logo {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 12vw;
  margin: 0 auto;
}

.footer-description {
  grid-column: 2 / 3;
  color: #666;
}

.footer-description,
.footer-links,
.footer-contact {
  margin: 0 auto;
  color: #666;
}

.footer-description p,
.footer-contact p {
  margin: 10px 0;
}

.footer-social a {
  margin: 1px;
  color: #666;
  text-decoration: none;
}

.footer-links {
  grid-column: 3 / 4;
  color: #666;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 10px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #666;
}


@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }

  .search{
    display: none;
  }

  .logo {
   top: 10%; 
  }

  #logo-image{
    width: 12vw;
  }

  a{
    font-size: 0.85rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-container{
    right: 0;
    width: 80%;
  }

  .products-grid .product-placeholder {
    height: 50vh;
  }

  .third-page {
    background-size: cover;
    background-position: left;
  }

  .water-button{
    width: 40vw;
  }

  .block-item{
    width: 70vw;
  }

  .block-page-container{
    height: 375vh;
  }

  .about-us-pic{
    background-size: cover;
  }

  .buy-now-button{
    width: 50vw;
    top: 75vh;
  }
}